.imFlexin {
    display: flex;
}

/* 3 pokemon to find container styles */
#monsImgContainer {
    display: flex;
    justify-content: flex-end;
    height: 83px;
    margin-bottom: 10px;
}

#monsImgContainer img {
    width: 80px;
    margin-right: 10px;
}


/* Main Image styles */
#mainImgContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 95%;
    margin: 0 auto;
}

#mainImg {
    width: 100%;
}


/* Context menu styles styles */
.contextMenuContainer {
    position: absolute;
}

.tagCircle {
    width: 80px;
    height: 80px;
    border: solid 4px black;
    border-radius: 50%;
    background-color: rgba(169, 169, 169, 0.66);
}

.charsListMenu {
    width: 250px;
    background-color: aliceblue;
    border: solid 2px black;
}

.charsListMenu div {
    display: flex;
    align-items: center;
    user-select: none;
}

.charsListMenu img {
    width: 80px;
}

.charsListMenu div:hover {
    background-color: aquamarine;
}

/* Game over screen */

.GameOverScreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    background: rgba(128, 128, 128, 0.459);
}
