.Leaderboard {
    max-width: 1200px;
    margin: 0 auto;
}

.Leaderboard h1{
    text-align: center;
    padding: 20px;
}

.Leaderboard img {
    border-radius: 10px;
}


.Top30 {
    height: 600px;
    margin: 20px;
}

.scoreDiv {
    display: flex;
    border-bottom: 1px rgb(74, 74, 74) solid;
    padding: 10px;
}

.scoreDiv:hover {
    background-color: rgb(235, 218, 198);
}

.scoreDiv .scoreRank {
    flex: 1;
}
.scoreDiv .scoreName {
    flex: 8;
}
.scoreDiv .scoreTime {
    flex: 2;
}